detect_emotions:
  description: |
    Execute the emotion_detection tool with video_path='{video_path}' frame_rate='{frame_rate}' and return results.
  expected_output: |
    A JSON file containing the results of the tool execution
  agent: emotions_detector
  output_file: "knowledge/facial_analysis_output.json"
  tools:
    - emotion_detection

detect_activities:
  description: |
    Execute the activity_detection tool with video_path='{video_path}' frame_rate='{frame_rate}' and pose_model='{pose_model}' then return results.
  expected_output: |
    A JSON file containing the results of the tool execution
  agent: activity_detector
  output_file: "knowledge/activity_analysis_output.json"
  tools:
    - activity_detection

generate_emotions_report:
  description: |
    Use emotion detection statistics data and create a report.
    Use timestamps to create a timeline for emotions detected.
    Uses emotion detection statistics data ONLY
    DO NOT merge the human activity detection analysis data to this report.
  expected_output: |
    A structured markdown report as the following example:
    ##Summary
      The EMOTION detection data analysis report provides an overview of the activities detected in the video. The summary section highlights the most common activities, including "left_arm_open", "standing", and "hands_raised".
      
      #Processing statistics
      * Frames analyzed: 111
      * Success rate: 92% (calculated based on the number of frames analyzed and the accuracy of activity detection)
    
    #Emotion detection results
    ### emotion breakdown with percentages
      
      | Emotion | Percentage |
      | --- | --- |
      | sad | 29.2% |
      | happy | 57.7% |
      | fear | 20.6% |
      | ... | ... |
    
    ### Emotions patterns
      The most common emotion pattern detected is "happy", which accounts for approximately 58% of the total frames analyzed.
    
    #Activities timeline
    Here is a detailed timeline of emotions based on timestamps:
      
      | Timestamp | Activity |
      | --- | --- |
      | 00:20:33 | fear, sad |
      | 00:35.00 | happy |
      | ... | ... |
    
    Note: The timestamp format can be adjusted to provide more detail.
    
    #Key insights
      * Top 3 emotions:
          1. happy (57.7%)
          2. sad (29.2%)
          3. fear (20.6%)
      * Notable observations:
          + The majority of the video is spent in a standing position.
          + There are several instances of happy emotion, which may indicate a good mood and a sense of happiness.

  agent: emotions_report_writer
  output_file: "reports/emotions-report_{date_time}.md"
  markdown: true
  context:
    - detect_emotions

generate_activities_report:
  description: |
    Uses activities detection statistics data and create a report.
    Uses timestamps to create a timeline for activities detected.
    Uses activities detection statistics data ONLY
    DO NOT merge the emotion detection analysis data to this report.
  expected_output: |
    A structured markdown report as the following example:
    ##Summary
      The ACTIVITY detection data analysis report provides an overview of the activities detected in the video. The summary section highlights the most common activities, including "left_arm_open", "standing", and "hands_raised".
    
      #Processing statistics
      * Frames analyzed: 111
      * Success rate: 92% (calculated based on the number of frames analyzed and the accuracy of activity detection)
    
    #Activity detection results
    ### Activity breakdown with percentages
    
      | Activity | Percentage |
      | --- | --- |
      | left_arm_open | 29.2% |
      | standing | 57.7% |
      | hands_raised | 20.6% |
      | right_arm_open | 4.5% |
      | hands_down | 3.6% |
    
    ### Movements patterns
      The most common movement pattern detected is "standing", which accounts for approximately 58% of the total frames analyzed.
    
    ### Hand gestures analysis
      The most common hand gesture detected is "left_arm_open", which accounts for approximately 29% of the total frames analyzed.
    
      #Anomaly Report
      * Total anomalies: 47
      * Types and frequencies:
          + Unknown: 47
    
    #Activities timeline
    Here is a detailed timeline of activities based on timestamps:
    
      | Timestamp | Activity |
      | --- | --- |
      | 6000.0 | left_arm_open, standing |
      | 7000.0 | hands_raised, standing |
      | ... | ... |
    
    Note: The timestamp format can be adjusted to provide more detail.
    
    #Key insights
      * Top 3 activities:
          1. Standing (57.7%)
          2. Left arm open (29.2%)
          3. Hands raised (20.6%)
      * Notable observations:
          + The majority of the video is spent in a standing position.
          + There are several instances of left arm being opened, which may indicate a specific action or gesture.
  

  agent: activities_report_writer
  markdown: true
  output_file: "reports/activity-report_{date_time}.md"
  context:
    - detect_activities

translate_report:
  description: |
    translate the emotion detection and activity detection report to {language} language.
  expected_output: "A {language} translated markdown document of both reports"
  agent: translator
  markdown: true
  output_file: "summary/{language}-summary-report_{date_time}.md"
  context:
    - generate_emotions_report
    - generate_activities_report